<section class="lame lame-about-who {{ isRight == true ? 'right' : '' }}" style="background-image:url( {{background}})">
{% include '../fragments/block-menu.twig' with {
        items:menu,
        menuBlack:menuBlack
        } %}

        {% include '../fragments/block-right-submenu.twig' with {
        items:submenu}
        %}
<button class="btn-apply">Apply</button>

{% if withImage != null %}
        <div class="image-right">
                <img src="{{withImage}}">
        </div>
        {% endif %}

        <div class="lame-about-who__centent wow fadeInUp">

     
            <div class="lame-about-who__subtitre {{subtitreClass}}">
                <img src="{{subTitreImage}}" class="image-logo">
                {{subtitre}}
            </div>
             <div class="lame-about-who__titre {{titreClass}}">
            {{titre}}
            </div>
            <div class="lame-about-who__description {{descriptionClass}}">
            {{description}}
            </div>
            {% if signature != null %}
            <div class="lame-about-who__portfolio">
                {{signature}}
            </div>
             {% endif %}
               {% if projects != null %}
               <div>
                <div class="lame-about-who__projects row">
                    {% for item in projects %}
                        <div  class="lame-about-who__item col-md-4">
                            <div  class="lame-about-who__item__counter">
                                {{item.count}}
                            </div>
                            <div  class="lame-about-who__item__titre">
                                {{item.titre}}
                            </div>
                            <div  class="lame-about-who__item__description">
                                {{item.description}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div>
        {% endif %}

        </div>
        <div class="footer {{footerColor}}">
        <div class="scroll-text">
                scroll
        </div>
        </div>

</section>