<div class="block block-menu {{menuBlack == true ? 'menu-black' : ''}}" >
    {% for item in items %}
        {% if item.selected  == true %}
            <div data-menuanchor="{{item.anchor}}" class="block-menu__item active">
        {% else %}
            <div data-menuanchor="{{item.anchor}}" class="block-menu__item">
        {% endif %}
        <a href="#{{item.anchor}}">
            <span>{{item.text}}</span>
        </a>
    </div>
    {% endfor %}
</div>